body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

img {
    width: 96px;
    height: 99px;
}

div {
    border: 1px solid black;
}

#text {
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: flex-start;
    align-items: center;
}

#images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 70%;
    justify-content: space-around;
    align-items: flex-start;
}

p:last-child {
    font-size: 10px;
}